
      body{
        font-family: Arial, Helvetica, sans-serif ;
        background-color: cornflowerblue;
        margin-left: 50px;
        margin-right: 70px;
        padding-top: 25px;
      }

      #contenido img{
        display: block;
        margin: auto;
        width: 150px;
        height: 150px;
      }

      #menu ul{
        list-style: none;
        padding: 20px;
        /* margin: auto; */
        width: 100%;
        background-color: #ddd;
      }

      #menu li a{
        text-decoration: none;
        color:black;
        padding: 10px;
        
      }
      #menu li{
        display: inline-block;
        text-align: center;
     
      }

      #menu li a:hover{
        background: #bbb;
      }

      #pie{
        background-color:#bbb;
        clear:both;
        color:#000;
        padding:10px;
        text-align:center;
      }
      